@model Entities.Concrete.Question

@{
    ViewData["Title"] = "Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4 style="margin-left:10px">Yeni soru oluştur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="margin-left:10px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"><b>Soru Metni</b></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionAnswer.Option1" class="control-label"><b>A Şıkkı</b></label>
                <input asp-for="QuestionAnswer.Option1" class="form-control" />
                <span asp-validation-for="QuestionAnswer.Option1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionAnswer.Option2" class="control-label"><b>B Şıkkı</b></label>
                <input asp-for="QuestionAnswer.Option2" class="form-control" />
                <span asp-validation-for="QuestionAnswer.Option2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionAnswer.Option3" class="control-label"><b>C Şıkkı</b></label>
                <input asp-for="QuestionAnswer.Option3" class="form-control" />
                <span asp-validation-for="QuestionAnswer.Option3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionAnswer.Option4" class="control-label"><b>D Şıkkı</b></label>
                <input asp-for="QuestionAnswer.Option4" class="form-control" />
                <span asp-validation-for="QuestionAnswer.Option4" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"><b>Doğru Cevap</b></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExamId" class="control-label"><b>Sınav ID</b></label>
                <input asp-for="ExamId" class="form-control" />
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label"><b>Konu ID</b></label>
                <input asp-for="SubCategoryId" class="form-control" />
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <label asp-for="QuestionType" class="control-label"><b>Soru Tipi</b></label>
                <input asp-for="QuestionType" class="form-control" />
                <span asp-validation-for="QuestionType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="margin-left:10px">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
