


    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <html>


    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Trivia Quiz</title>

        <link type="text/css" rel="stylesheet" href="./css/style.css?themeRevisionID=5f30e2a790832f3e96009402" />
        <script src="./js/prototype.forms.js" type="text/javascript"></script>
        <script src="./js/jotform.forms0317.js?3.3.31828" type="text/javascript"></script>
        <script type="text/javascript">
            JotForm.newDefaultTheme = true;
            JotForm.extendsNewTheme = false;
            JotForm.newPaymentUIForNewCreatedForms = false;
            JotForm.newPaymentUI = true;

            JotForm.init(function () {

            });

            JotForm.prepareCalculationsOnTheFly([null, {
                "name": "clickTo",
                "qid": "1",
                "text": "Trivia Quiz",
                "type": "control_head"
            }, {
                    "name": "submit",
                    "qid": "2",
                    "text": "Submit Quiz",
                    "type": "control_button"
                }, {
                    "name": "whoIs",
                    "qid": "3",
                    "text": "dfdfsdfdsfdsfdsf?",
                    "type": "control_radio"
                }, {
                    "name": "howMany",
                    "qid": "4",
                    "text": "How many words are there in the English language?",
                    "type": "control_radio"
                }, {
                    "name": "whichFilm",
                    "qid": "5",
                    "text": "Which film of The Beatles was a cartoon?",
                    "type": "control_radio"
                }, {
                    "name": "inWhich",
                    "qid": "6",
                    "text": "In which country is Dokkum?",
                    "type": "control_radio"
                }, {
                    "name": "whoIs7",
                    "qid": "7",
                    "text": "Who is the artist who painted the picture called \"Sleep\"?",
                    "type": "control_radio"
                }, {
                    "name": "pageBreak",
                    "qid": "8",
                    "text": "Page Break",
                    "type": "control_pagebreak"
                }, {
                    "name": "pageBreak9",
                    "qid": "9",
                    "text": "Page Break",
                    "type": "control_pagebreak"
                }, {
                    "name": "pageBreak10",
                    "qid": "10",
                    "text": "Page Break",
                    "type": "control_pagebreak"
                }, {
                    "name": "clickTo11",
                    "qid": "11",
                    "text": "2. Question",
                    "type": "control_head"
                }, {
                    "name": "clickTo12",
                    "qid": "12",
                    "text": "3. Question",
                    "type": "control_head"
                }, {
                    "name": "clickTo13",
                    "qid": "13",
                    "text": "4. Question",
                    "type": "control_head"
                }, {
                    "name": "clickTo14",
                    "qid": "14",
                    "text": "5. Question",
                    "type": "control_head"
                }]);
            setTimeout(function () {
                JotForm.paymentExtrasOnTheFly([null, {
                    "name": "clickTo",
                    "qid": "1",
                    "text": "Trivia Quiz",
                    "type": "control_head"
                }, {
                        "name": "submit",
                        "qid": "2",
                        "text": "Submit Quiz",
                        "type": "control_button"
                    }, {
                        "name": "whoIs",
                        "qid": "3",
                        "text": "Who is Anakin Skywalker when he goes to the dark side?",
                        "type": "control_radio"
                    }, {
                        "name": "howMany",
                        "qid": "4",
                        "text": "How many words are there in the English language?",
                        "type": "control_radio"
                    }, {
                        "name": "whichFilm",
                        "qid": "5",
                        "text": "Which film of The Beatles was a cartoon?",
                        "type": "control_radio"
                    }, {
                        "name": "inWhich",
                        "qid": "6",
                        "text": "In which country is Dokkum?",
                        "type": "control_radio"
                    }, {
                        "name": "whoIs7",
                        "qid": "7",
                        "text": "Who is the artist who painted the picture called \"Sleep\"?",
                        "type": "control_radio"
                    }, {
                        "name": "pageBreak",
                        "qid": "8",
                        "text": "Page Break",
                        "type": "control_pagebreak"
                    }, {
                        "name": "pageBreak9",
                        "qid": "9",
                        "text": "Page Break",
                        "type": "control_pagebreak"
                    }, {
                        "name": "pageBreak10",
                        "qid": "10",
                        "text": "Page Break",
                        "type": "control_pagebreak"
                    }, {
                        "name": "clickTo11",
                        "qid": "11",
                        "text": "2. Question",
                        "type": "control_head"
                    }, {
                        "name": "clickTo12",
                        "qid": "12",
                        "text": "3. Question",
                        "type": "control_head"
                    }, {
                        "name": "clickTo13",
                        "qid": "13",
                        "text": "4. Question",
                        "type": "control_head"
                    }, {
                        "name": "clickTo14",
                        "qid": "14",
                        "text": "5. Question",
                        "type": "control_head"
                    }]);
            }, 20);
        </script>
    </head>

    <body>
        <form class="jotform-form" action="/index2.html">
            <div class="form-all">
                <!-- Soru1  start-->
                <ul class="form-section page-section">
                    <li class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-large">
                            <div>
                                <h1 class="form-header" data-component="header">
                                    Soru 1
                                </h1>
                                <div>
                                    Sorular Tek seçim olacaktır
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_3">
                        <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Who is Anakin Skywalker when he goes to the dark side? </label>
                        <div id="cid_3" class="form-input-wide" data-layout="full">
                            <div class="form-single-column" role="group" aria-labelledby="label_3" data-component="radio">
                                <span class="form-radio-item" style="clear:left">
                                    <span>
                                    </span>
                                    <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_0" name="q3_whoIs" value="Darth Sidious" />
                                    <label id="label_input_3_0" for="input_3_0"> Darth Sidious </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_1" name="q3_whoIs" value="Darth Tyrannus" />
                                    <label id="label_input_3_1" for="input_3_1"> Darth Tyrannus </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_2" name="q3_whoIs" value="Darth Vader" />
                                    <label id="label_input_3_2" for="input_3_2"> Darth Vader </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_3" name="q3_whoIs" value="Darth Maul" />
                                    <label id="label_input_3_3" for="input_3_3"> Darth Maul </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="cid_8" class="form-input-wide" data-type="control_pagebreak">
                        <div class="form-pagebreak" data-component="pagebreak">
                            <div class="form-pagebreak-back-container">
                                <button id="form-pagebreak-back_8" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">
                                    Back
                                </button>
                            </div>
                            <div class="form-pagebreak-next-container">
                                <button id="form-pagebreak-next_8" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">
                                    Next
                                </button>
                            </div>
                            <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_8">
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Soru1 end -->
                <!-- Soru2 Start -->
                <ul class="form-section page-section" style="display:none;">
                    <li id="cid_11" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-default">
                            <div class="header-text httal htvam">
                                <h2 id="header_11" class="form-header" data-component="header">
                                    2. Question
                                </h2>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_4">
                        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> How many words are there in the English language? </label>
                        <div id="cid_4" class="form-input-wide" data-layout="full">
                            <div class="form-single-column" role="group" aria-labelledby="label_4" data-component="radio">
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_4" class="form-radio" id="input_4_0" name="q4_howMany" value="2 Million+" />
                                    <label id="label_input_4_0" for="input_4_0"> 2 Million+ </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_4" class="form-radio" id="input_4_1" name="q4_howMany" value="170,000" />
                                    <label id="label_input_4_1" for="input_4_1"> 170,000 </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_4" class="form-radio" id="input_4_2" name="q4_howMany" value="70,000" />
                                    <label id="label_input_4_2" for="input_4_2"> 70,000 </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_4" class="form-radio" id="input_4_3" name="q4_howMany" value="500,000" />
                                    <label id="label_input_4_3" for="input_4_3"> 500,000 </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="cid_9" class="form-input-wide" data-type="control_pagebreak">
                        <div class="form-pagebreak" data-component="pagebreak">
                            <div class="form-pagebreak-back-container">
                                <button id="form-pagebreak-back_9" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">
                                    Back
                                </button>
                            </div>
                            <div class="form-pagebreak-next-container">
                                <button id="form-pagebreak-next_9" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">
                                    Next
                                </button>
                            </div>
                            <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_9">
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Soru2 end -->
                <!-- Soru3 start -->
                <ul class="form-section page-section" style="display:none;">
                    <li id="cid_12" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-default">
                            <div class="header-text httal htvam">
                                <h2 id="header_12" class="form-header" data-component="header">
                                    3. Question
                                </h2>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_5">
                        <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5"> Which film of The Beatles was a cartoon? </label>
                        <div id="cid_5" class="form-input-wide" data-layout="full">
                            <div class="form-single-column" role="group" aria-labelledby="label_5" data-component="radio">
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_0" name="q5_whichFilm" value="Help" />
                                    <label id="label_input_5_0" for="input_5_0"> Help </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_1" name="q5_whichFilm" value="Let it be" />
                                    <label id="label_input_5_1" for="input_5_1"> Let it be </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_2" name="q5_whichFilm" value="Magical mystery tour" />
                                    <label id="label_input_5_2" for="input_5_2"> Magical mystery tour </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_3" name="q5_whichFilm" value="Yellow submarine" />
                                    <label id="label_input_5_3" for="input_5_3"> Yellow submarine </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="cid_10" class="form-input-wide" data-type="control_pagebreak">
                        <div class="form-pagebreak" data-component="pagebreak">
                            <div class="form-pagebreak-back-container">
                                <button id="form-pagebreak-back_10" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">
                                    Back
                                </button>
                            </div>
                            <div class="form-pagebreak-next-container">
                                <button id="form-pagebreak-next_10" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">
                                    Next
                                </button>
                            </div>
                            <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_10">
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- soru3 end -->
                <!-- Submit end -->

                <ul class="form-section page-section" style="display:none;">
                    <li id="cid_13" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-default">
                            <div class="header-text httal htvam">
                                <h2 id="header_13" class="form-header" data-component="header">
                                    Sınavı Bitirmek için lütfen "Gönder"e Basınız.
                                </h2>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_button" id="id_2">

                        <div id="cid_2" class="form-input-wide" data-layout="full">
                            <div style="display: grid; margin:50px">
                                <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="" href="https://www.google.com">
                                    Gönder
                                </button>
                            </div>

                        </div>
                    </li>
                    <!-- submit end -->
                    <!-- <li style="display:none">
                        Should be Empty:
                        <input type="text" name="website" value="" />
                    </li> -->
                </ul>
                <!-- Soru4 end -->
                <!-- ORNEK START-->
                <!-- <ul class="form-section page-section" style="display:none;">
                    <li id="cid_13" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-default">
                            <div class="header-text httal htvam">
                                <h2 id="header_13" class="form-header" data-component="header">
                                    4. Question
                                </h2>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_6">
                        <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> In which country is Dokkum? </label>
                        <div id="cid_6" class="form-input-wide" data-layout="full">
                            <div class="form-single-column" role="group" aria-labelledby="label_6" data-component="radio">
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_0" name="q6_inWhich" value="Belgium" />
                                <label id="label_input_6_0" for="input_6_0"> Belgium </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_1" name="q6_inWhich" value="Germany" />
                                <label id="label_input_6_1" for="input_6_1"> Germany </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_2" name="q6_inWhich" value="Holland" />
                                <label id="label_input_6_2" for="input_6_2"> Holland </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_3" name="q6_inWhich" value="Denmark" />
                                <label id="label_input_6_3" for="input_6_3"> Denmark </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="cid_14" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-default">
                            <div class="header-text httal htvam">
                                <h2 id="header_14" class="form-header" data-component="header">
                                    5. Question
                                </h2>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_7">
                        <label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> Who is the artist who painted the picture called &quot;Sleep&quot;? </label>
                        <div id="cid_7" class="form-input-wide" data-layout="full">
                            <div class="form-single-column" role="group" aria-labelledby="label_7" data-component="radio">
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_0" name="q7_whoIs7" value="Pablo Picasso" />
                                <label id="label_input_7_0" for="input_7_0"> Pablo Picasso </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_1" name="q7_whoIs7" value="Lucian Freud" />
                                <label id="label_input_7_1" for="input_7_1"> Lucian Freud </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_2" name="q7_whoIs7" value="Andy Warhol" />
                                <label id="label_input_7_2" for="input_7_2"> Andy Warhol </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                  <span class="dragger-item">
                  </span>
                                <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_3" name="q7_whoIs7" value="Salvador Dali" />
                                <label id="label_input_7_3" for="input_7_3"> Salvador Dali </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_button" id="id_2">
                        <div id="cid_2" class="form-input-wide" data-layout="full">
                            <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                                <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                  Submit Quiz
                </button>
                            </div>
                        </div>
                    </li>
                    <li style="display:none">
                        Should be Empty:
                        <input type="text" name="website" value="" />
                    </li>
                </ul> -->
                <!-- ORNEK END -->
            </div>




            </div>

        </form>
    </body>

</html>
