@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    
</div>

<div id="homePhoto">
    <img src="http://gencegitim.com.tr/wp-content/uploads/2020/04/s1.jpg"  style="margin-left:30%" />
</div>