@model Business.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";

}


<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
               
                <form method="post">

                    <div class="divider d-flex align-items-center my-4">
                        <h3> <p class="text-center fw-bold mx-3 mb-0" style="color:Highlight">Üye Girişi</p></h3>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Email" class="form-control form-control-lg"
                               placeholder="Email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="Password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>





                    <div class="text-lg-left text-lg-start mt-4 ">
                        <button href="Index" type="submit" style="margin-bottom:10px;" class="btn-outline-primary btn-lg"> Login </button>
                       
                            <a class="text-lg-start ml-lg-4">
                                Hesabınız yok mu? <a class="btn btn-sm btn-primary" href="Register" style="margin-left:1%">Kayıt ol</a>
                        </a>
                       
                    </div>

                </form>
</div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2022. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>