@model Entities.Concrete.SubCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Düzenle</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SubCategoryId" />
                <div class="form-group">
                    <label asp-for="SubCategoryName" class="control-label"><b>Konu Adı</b></label>
                    <input asp-for="SubCategoryName" class="form-control" />
                    <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"><b>Kategori ID</b></label>
                    <input asp-for="CategoryId" class="form-control" />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


               




                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}
    <div>
        <a asp-action="Index">Listeye Dön</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
